@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Reset */
body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #0b2234;
}
@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}